/*
.index-content-title {
  font-size: 30px;
  line-height: 42px;
}

.item-consist-title {
  font-size: 24px;
  line-height: 30px;
}
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;
  /*Только для оформления сетки*/
  outline: 1px solid aqua;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  /*Только для оформления сетки*/
  outline: 1px solid black;
}

.main-navigation {
  float: left;
  width: 780px;
  /*Только для оформления сетки*/
  outline: 1px solid greenyellow;
}

.menu-logo {
  margin-left: 20px;
}

.user-block {
  float: right;
  width: 140px;
  /*Только для оформления сетки*/
  outline: 1px solid greenyellow;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  /*Только для оформления сетки*/
  outline: 1px solid yellow;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
  /*Только для оформления сетки*/
  outline: 1px solid orange;
}

.index-content-left {
  float: left;
  width: 380px;
  /*Только для оформления сетки*/
  outline: 1px solid green;
}

.index-content-right {
  float: right;
  width: 300px;
  /*Только для оформления сетки*/
  outline: 1px solid green;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  /*Только для оформления сетки*/
  outline: 1px solid aqua;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  /*Только для оформления сетки*/
  outline: 1px solid green;
}

.footer-social {
  float: left;
  width: 180px;
  /*Только для оформления сетки*/
  outline: 1px solid green;
}

.footer-copyright {
  float: right;
  width: 180px;
  /*Только для оформления сетки*/
  outline: 1px solid greenyellow;
}

.inner-title {
  margin-bottom: 55px;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}

.inner-title h1 {
  margin-bottom: 20px;
}

.breadcrumbs {
  /*Только для оформления сетки*/
  outline: 1px solid green;
}

.inner-content {
  
}

.item-gallery {
  width: 460px;
  float: left;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}

.item-info {
  width: 400px;
  float: right;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}

.inner-search-form {
  width: 200px;
  float: left;
  /*Только для оформления сетки*/
  outline: 1px solid green;
}

.inner-search-result {
  width: 700px;
  float: right;
  /*Только для оформления сетки*/
  outline: 1px solid green;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  
}

.product-item {
  width: 220px;
  margin-bottom: 20px;
  /*Только для оформления сетки*/
  outline: 1px solid blue;
}

.inner-title .heading {
  display: block;
  margin-top: 55px;
}

.inner-content-cures {
  width: 300px;
  float: left;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}

.inner-content-prices {
  width: 460px;
  float: right;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}

.inner-content-about {
  clear: both;
}

.inner-content-about p:nth-child(2n-1) {
  width: 380px;
  float: left;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}

.inner-content-about p:nth-child(2n) {
  width: 380px;
  float: right;
  margin-right: 80px;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}




